<html>
  <body>
    <div class="fondo">
      <div class="contenido">
        <a href="#">
          <img src="https://marketplace.canva.com/EAFIAc5N8S0/2/0/1600w/canva-logo-panader%C3%ADa-y-pasteler%C3%ADa-circular-caf%C3%A9-NMaWIPvMNdI.jpg" alt="Logo" class="logo" />
        </a>
        <h1 class="titulo">Panadería y Pastelería</h1>
        <button>Conocer más</button>
      </div>
    </div>
    <app-ofertas></app-ofertas>
    <app-precios></app-precios>
    <app-acercade></app-acercade>
    <app-galeria></app-galeria>
    <app-footer></app-footer>
  </body>
</html>
